
a {
	color: #267;
}

p {
	font-family: arial;
	font-size: 14px;
}

table {
	border-width: 0px 0px 0px 0px;
	width: 80%;
	margin-left: 20px;
}



th {
	border-width: 0px 0px 0px 0px;
	font-weight: bold;
	color: #fff;
	background-color: #d84;
}

tr, td {
	padding-left: 8px;
	border-width: 0px 0px 0px 0px;
	border-color: #fff;
	background-color: #e0e5ff;
	color: #333;
}

.type {
    font-family: courier;
}

.title {
	color: #458;
}
